<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2"  name="using Mozilla">
        <classes>
            <class name="web.home.logOutTest">
                <methods>
                    <include name="logOutUI"/>
                    <include name="logOutRef"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2"  name="using Chrome">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="web.home.logOutTest">
                <methods>
                    <include name="logOutUI"/>
                    <include name="logOutRef"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

